.create-form {
    max-width: 600px;
    margin-bottom: 60px;
    margin: 20px auto;    
    margin-bottom: 60px;
    margin-top: 120px;
    background-color: #dadada6b;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 18px 12px rgba(0, 0, 0, 0.5);
    font-family: Inter, system-ui, Avenir, Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    color-scheme: light dark;
    font-synthesis: none;
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #333; 
}

input[type="text"],
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.btnCreate {
    border-radius: 8px;
    border: 3px solid transparent;
    margin: auto 120px;
    padding: 0.5em 0.8em;
    font-size: 1.1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    transition: transform 0.1s ease, border-color 0.7s;
    overflow: hidden;
    text-decoration: none;
}

.btnCreate:hover {
    border-color: #bb4500;
    transform: scale(1.2);
    /* Scales the button to 110% on hover */
}

.btnCreate:active {
    transform: scale(0.98);
}

.btnCreate:focus,
.btnCreate:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    .btnCreate {
        color: #213547;
        background-color: #ffffff;
    }

    .btnCreate:hover {
        color: #747bff;
    }

    .btnCreate {
        background-color: #f9f9f9;
    }
}