.homecontainer {
    max-width: 600px;
    margin: 10px auto;
    margin-bottom: 20px;
    margin-top: 60px;
    background-color: #dadada6b;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Inter, system-ui, Avenir, Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    color-scheme: light dark;
    font-synthesis: none;
    overflow: hidden;
}