.notfound {
    max-width: 600px;
    margin: 10px auto;
    margin-bottom: 150px;
    margin-top: 180px;
    background-color: #ff00006b;
    padding: 50px;
    border: 3px solid #bb4500;
    border-radius: 8px;
    box-shadow: 0 18px 12px rgba(0, 0, 0, 0.5);
    font-family: Inter, system-ui, Avenir, Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility;
    color-scheme: light dark;
    font-synthesis: none;
    overflow: hidden;
    scale: 1.2;
}