.recipe-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 500px; */
    /* height: 600px; */
    box-shadow: 0 18px 12px rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;
    width: 450px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #ccc;
    scale: 1;
}

.detailsBtn {
    border-radius: 8px;
    border: 3px solid transparent;
    padding: 0.5em 0.8em;
    font-size: 1.1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
    transition: transform 0.1s ease, border-color 0.7s;
    overflow: hidden;
    text-decoration: none;
}

.detailsBtn:hover {
    border-color: #bb4500;
    transform: scale(1.2);
    /* Scales the button to 110% on hover */
}

.detailsBtn:active {
    transform: scale(0.98);
}

.detailsBtn:focus,
.detailsBtn:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    .detailsBtn {
        color: #213547;
        background-color: #ffffff;
    }

    .detailsBtn:hover {
        color: #747bff;
    }

    .detailsBtn {
        background-color: #f9f9f9;
    }
}